<section class="about">
  <div class="container about__inner">
    <div class="about__content">
      <h2 class="title">Про нас</h2>
      <p class="about__text">
        Богдан творець бренду який завжди зацікавлений у виготовленні
        різноманітних речей вдома. Він регулярно експериментував з різними
        матеріалами та інструментами, спробувавши свої сили у багатьох галузях,
        включаючи виготовлення свічок.
      </p>
      <p class="about__text">
        Ссоєвий віск виготовляють із соєвих бобів, що зрощуються в Данії, і цей
        вид воску є екологічно чистим та безпечним для здоров'я.
      </p>
    </div>
    <ul class="about__list">
      <li class="about__item">
        <img
          src="images/about-1.jpg"
          alt=""
          class="about__item-img about__item-img--1"
        />
        <p class="about__item-text">Насолоджуйтеся моментом</p>
      </li>
      <li class="about__item">
        <img
          src="images/about-2.png"
          alt=""
          class="about__item-img about__item-img--2"
        />
        <p class="about__item-text">Створіть улюблену атмосферу</p>
      </li>
      <li class="about__item">
        <img
          src="images/about-3.jpg"
          alt=""
          class="about__item-img about__item-img--3"
        />
        <p class="about__item-text">Виготовлені з любов'ю</p>
      </li>
    </ul>
  </div>
</section>
