<footer class="footer">
  <div class="container footer__inner">
    <a href="" class="logo"
      ><img src="images/logo.png" alt="" class="logo__img" />
    </a>
    <nav class="menu footer__menu">
      <ul class="menu__list footer__menu-list">
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Про нас</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Каталог</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Команда</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Відгуки</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Про нас</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="footer__contacts">
      <a href="tel:+4565789876" class="footer__phone">+45 65 78 98 76</a>
      <a href="mailto:candelsCandels@gmail.com" class="email"
        >candelsCandels@gmail.com</a
      >
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link"
            ><img src="./images/facebook.svg" alt="" class="footer__social-img"
          /></a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link"
            ><img src="images/instagram.svg" alt="" class="footer__social-img"
          /></a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link"
            ><img src="./images/linkedin.svg" alt="" class="footer__social-img"
          /></a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link"
            ><img src="./images/youtube.svg" alt="" class="footer__social-img"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
