<section class="hero">
  <div class="container hero__inner">
    <div class="hero__content">
      <h3 class="hero__title">Створіть атмосферу затишку та гармонії!</h3>
      <p class="hero__text">
        Створіть особливу атмосферу у своєму домі з нашою екологічно чистою та
        якісною продукцією зі 100% натуральної соєвого воску.
      </p>
      <button class="hero__btn button">Купити</button>
    </div>
    <picture class="hero__img">
      <source srcset="images/hero-s.png" media="(max-width: 360px)" />
      <source srcset="images/hero-m.png" media="(max-width: 480px)" />
      <img class="hero__img-item" src="images/hero-l.png" alt="" />
    </picture>
  </div>
</section>
