<section class="products">
  <div class="container section__inner">
    <div class="products__descr section__descr">
      <h2 class="products__title title">Наші товари</h2>
      <p class="products__text section__text">
        Ми використовуємо тільки найкращі якісні матеріали: соєвий віск, віскові
        барвники, високоякісні ароматичні олії та бавовняні фітільці. Відтінки
        свічок дуже гармонійно поєднуються з ароматом, створюючи незабутню
        атмосферу у вашому домі.
      </p>
    </div>
    <div class="products__content section__content--descr">
      <div class="products__item">
        <img
          src="images/product-1.jpg"
          alt="Сердечко кохання"
          class="products__item--img"
        />
        <p class="product__item-price">10$</p>
        <h4 class="products__item-title">"Сердечко кохання"</h4>
        <p class="products__item-text">
          Запах: ніжний аромат троянди та ванілі. Для чого: для атмосфери
          романтичного настрою
        </p>
        <button class="button">Купити</button>
      </div>
      <div class="products__item">
        <img
          src="images/product-2.jpg"
          alt="Вихір кохання"
          class="products__item--img"
        />
        <p class="product__item-price">20$</p>
        <h4 class="products__item-title">"Вихір кохання"</h4>
        <p class="products__item-text">
          Запах: ніжний аромат лаванди. Для чого: для створення атмосфери
          затишку
        </p>
        <button class="button">Купити</button>
      </div>
      <div class="products__item">
        <img
          src="images/product-3.jpg"
          alt="Веселка"
          class="products__item--img"
        />
        <p class="product__item-price">10$</p>
        <h4 class="products__item-title">"Веселка"</h4>
        <p class="products__item-text">
          Запах: Свіжий аромат лайма. Для чого: для енергії та свіжості в
          приміщені.
        </p>
        <button class="button">Купити</button>
      </div>
      <div class="products__item">
        <img
          src="images/product-4.jpg"
          alt="Жіноча чарівність"
          class="products__item--img"
        />
        <p class="product__item-price">10$</p>
        <h4 class="products__item-title">"Жіноча чарівність"</h4>
        <p class="products__item-text">
          Запах: ніжний аромат лаванди та фрезій. Для чого: для затишку та
          комфорту.
        </p>
        <button class="button">Купити</button>
      </div>
    </div>
  </div>
</section>
